In [116]:
import numpy as np
import pandas as pd

In [117]:
df = pd.read_csv('bank_customers.csv')

In [118]:
df.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [119]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   RowNumber        10000 non-null  int64
 1   CustomerId       10000 non-null  int64
 2   Surname          10000 non-null  object
 3   CreditScore      10000 non-null  int64
 4   Geography        10000 non-null  object
 5   Gender           10000 non-null  object
 6   Age              10000 non-null  int64
 7   Tenure           10000 non-null  int64
 8   Balance          10000 non-null  float64
 9   NumOfProducts    10000 non-null  int64
 10  HasCrCard        10000 non-null  int64
 11  IsActiveMember   10000 non-null  int64
 12  EstimatedSalary  10000 non-null  float64
 13  Exited           10000 non-null  int64
dtypes: float64(2), int64(9), object(3)
memory usage: 1.1+ MB

In [120]:
df.isnull().sum()

RowNumber          0
CustomerId         0
Surname            0
CreditScore        0
Geography          0
Gender             0
Age                0
Tenure             0
Balance            0
NumOfProducts      0
HasCrCard          0
IsActiveMember     0
EstimatedSalary    0
Exited             0
dtype: int64

In [121]:
df.shape

(10000, 14)

In [122]:
df = df.drop(['CustomerId','RowNumber'],axis=1)

In [123]:
df.sample(1)

,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
6176,Kaodilinakachukwu,608,Germany,Female,38,8,103653.51,2,1,1,137079.86,0

In [124]:
df.corr()

,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
CreditScore,1.000000,-0.003965,0.000842,0.006268,0.012238,-0.005458,0.025651,-0.001384,-0.027094
Age,-0.003965,1.000000,-0.009997,0.028308,-0.030680,-0.011721,0.085472,-0.007201,0.285323
Tenure,0.000842,-0.009997,1.000000,-0.012254,0.013444,0.022583,-0.028362,0.007784,-0.014001
Balance,0.006268,0.028308,-0.012254,1.000000,-0.304180,-0.014858,-0.010084,0.012797,0.118533
NumOfProducts,0.012238,-0.030680,0.013444,-0.304180,1.000000,0.003183,0.009612,0.014204,-0.047820
HasCrCard,-0.005458,-0.011721,0.022583,-0.014858,0.003183,1.000000,-0.011866,-0.009933,-0.007138
IsActiveMember,0.025651,0.085472,-0.028362,-0.010084,0.009612,-0.011866,1.000000,-0.011421,-0.156128
EstimatedSalary,-0.001384,-0.007201,0.007784,0.012797,0.014204,-0.009933,-0.011421,1.000000,0.012097
Exited,-0.027094,0.285323,-0.014001,0.118533,-0.047820,-0.007138,-0.156128,0.012097,1.000000

In [125]:
df=df.drop(['Surname'],axis=1)

In [126]:
df.sample(1)

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
4510,611,Germany,Female,43,9,127216.31,2,0,1,17913.25,0

In [127]:
df['Geography'].unique()

array(['France', 'Spain', 'Germany'], dtype=object)

In [128]:
df = df.drop(['Geography'],axis=1)

In [129]:
df.sample(12)

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
4023,535,Male,38,8,85982.07,1,1,0,9238.35,0
6501,679,Male,30,9,0.00,2,1,0,157871.55,0
2742,649,Female,41,2,125785.23,1,1,1,70523.92,0
7915,695,Male,56,1,0.00,3,1,0,187734.49,1
2373,616,Male,31,3,94263.91,2,1,0,168895.06,0
2597,592,Female,40,2,200322.45,1,1,1,113244.73,0
8631,632,Male,30,2,72549.00,2,0,1,182728.80,0
5196,719,Female,22,7,114415.84,1,1,1,177497.40,0
1125,612,Female,58,1,149641.53,1,1,1,115161.28,0
6600,505,Female,36,2,79951.90,1,0,1,174123.16,1
8263,555,Male,32,10,0.00,2,0,1,168605.96,0
2136,727,Male,18,4,133550.67,1,1,1,46941.41,0

In [130]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   CreditScore      10000 non-null  int64
 1   Gender           10000 non-null  object
 2   Age              10000 non-null  int64
 3   Tenure           10000 non-null  int64
 4   Balance          10000 non-null  float64
 5   NumOfProducts    10000 non-null  int64
 6   HasCrCard        10000 non-null  int64
 7   IsActiveMember   10000 non-null  int64
 8   EstimatedSalary  10000 non-null  float64
 9   Exited           10000 non-null  int64
dtypes: float64(2), int64(7), object(1)
memory usage: 781.4+ KB

In [131]:
df['Exited'].value_counts()

0    7963
1    2037
Name: Exited, dtype: int64

In [132]:
df['Gender'].value_counts()

Male      5457
Female    4543
Name: Gender, dtype: int64

In [133]:
 df['Gender'] = df['Gender'].apply(lambda x: 0 if x == 'Female' else 1)

In [134]:
X = df.drop('Exited',axis=1)
y = df['Exited']

In [135]:
X

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,619,0,42,2,0.00,1,1,1,101348.88
1,608,0,41,1,83807.86,1,0,1,112542.58
2,502,0,42,8,159660.80,3,1,0,113931.57
3,699,0,39,1,0.00,2,0,0,93826.63
4,850,0,43,2,125510.82,1,1,1,79084.10
...,...,...,...,...,...,...,...,...,...
9995,771,1,39,5,0.00,2,1,0,96270.64
9996,516,1,35,10,57369.61,1,1,1,101699.77
9997,709,0,36,7,0.00,1,0,1,42085.58
9998,772,1,42,3,75075.31,2,1,0,92888.52
9999,792,0,28,4,130142.79,1,1,0,38190.78

In [185]:
df['NumOfProducts'].value_counts()

1    5084
2    4590
3     266
4      60
Name: NumOfProducts, dtype: int64

In [136]:
df['Gender'].value_counts()

1    5457
0    4543
Name: Gender, dtype: int64

In [137]:
# df['Gender'].value_counts()

In [138]:
X.shape

(10000, 9)

In [139]:
from sklearn.model_selection import train_test_split

In [140]:
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2,random_state=0)

In [141]:
X_train.shape

(8000, 9)

In [142]:
X_train.shape

(8000, 9)

In [143]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

In [158]:
import keras
from keras.models import Sequential
from keras.layers import Dense, Dropout

In [145]:
# model = Sequential()

In [176]:
model = Sequential()
# model.add(Dense(input_dim=9, units=32, activation='relu'))
model.add(Dense(input_dim = 9,units=15, activation='relu'))
model.add(Dropout(0.2))
model.add(Dense(units=6, activation='relu'))
model.add(Dropout(0.1))
model.add(Dense(units=1, activation='sigmoid'))

In [177]:
model.summary()

Model: "sequential_8"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_22 (Dense)            (None, 15)                150

 dropout_7 (Dropout)         (None, 15)                0

 dense_23 (Dense)            (None, 6)                 96

 dropout_8 (Dropout)         (None, 6)                 0

 dense_24 (Dense)            (None, 1)                 7

=================================================================
Total params: 253
Trainable params: 253
Non-trainable params: 0
_________________________________________________________________

In [178]:
model.compile(optimizer = 'adam', loss = 'binary_crossentropy', metrics = ['accuracy'])

In [182]:
history = model.fit(X_train, y_train, batch_size=10, epochs=50)

Epoch 1/50
800/800 [==============================] - 2s 2ms/step - loss: 0.3582 - accuracy: 0.8496
Epoch 2/50
800/800 [==============================] - 2s 2ms/step - loss: 0.3601 - accuracy: 0.8478
Epoch 3/50
800/800 [==============================] - 2s 2ms/step - loss: 0.3614 - accuracy: 0.8479
Epoch 4/50
800/800 [==============================] - 2s 2ms/step - loss: 0.3590 - accuracy: 0.8491
Epoch 5/50
800/800 [==============================] - 1s 2ms/step - loss: 0.3617 - accuracy: 0.8529
Epoch 6/50
800/800 [==============================] - 1s 2ms/step - loss: 0.3578 - accuracy: 0.8506
Epoch 7/50
800/800 [==============================] - 1s 2ms/step - loss: 0.3597 - accuracy: 0.8503
Epoch 8/50
800/800 [==============================] - 1s 2ms/step - loss: 0.3634 - accuracy: 0.8499
Epoch 9/50
800/800 [==============================] - 1s 2ms/step - loss: 0.3584 - accuracy: 0.8514
Epoch 10/50
800/800 [==============================] - 1s 2ms/step - loss: 0.3572 - accuracy: 0.8508
Epoch 11/50
800/800 [==============================] - 1s 2ms/step - loss: 0.3601 - accuracy: 0.8485
Epoch 12/50
800/800 [==============================] - 1s 2ms/step - loss: 0.3602 - accuracy: 0.8499
Epoch 13/50
800/800 [==============================] - 1s 2ms/step - loss: 0.3544 - accuracy: 0.8525
Epoch 14/50
800/800 [==============================] - 1s 2ms/step - loss: 0.3565 - accuracy: 0.8525
Epoch 15/50
800/800 [==============================] - 1s 1ms/step - loss: 0.3553 - accuracy: 0.8510
Epoch 16/50
800/800 [==============================] - 1s 2ms/step - loss: 0.3582 - accuracy: 0.8496
Epoch 17/50
800/800 [==============================] - 1s 2ms/step - loss: 0.3559 - accuracy: 0.8524
Epoch 18/50
800/800 [==============================] - 1s 2ms/step - loss: 0.3563 - accuracy: 0.8534
Epoch 19/50
800/800 [==============================] - 1s 2ms/step - loss: 0.3591 - accuracy: 0.8494
Epoch 20/50
800/800 [==============================] - 1s 2ms/step - loss: 0.3587 - accuracy: 0.8509
Epoch 21/50
800/800 [==============================] - 1s 1ms/step - loss: 0.3580 - accuracy: 0.8530
Epoch 22/50
800/800 [==============================] - 1s 2ms/step - loss: 0.3575 - accuracy: 0.8509
Epoch 23/50
800/800 [==============================] - 1s 2ms/step - loss: 0.3537 - accuracy: 0.8515
Epoch 24/50
800/800 [==============================] - 1s 1ms/step - loss: 0.3577 - accuracy: 0.8512
Epoch 25/50
800/800 [==============================] - 1s 2ms/step - loss: 0.3555 - accuracy: 0.8534
Epoch 26/50
800/800 [==============================] - 1s 1ms/step - loss: 0.3551 - accuracy: 0.8505
Epoch 27/50
800/800 [==============================] - 1s 2ms/step - loss: 0.3572 - accuracy: 0.8535
Epoch 28/50
800/800 [==============================] - 1s 1ms/step - loss: 0.3531 - accuracy: 0.8519
Epoch 29/50
800/800 [==============================] - 1s 1ms/step - loss: 0.3574 - accuracy: 0.8514
Epoch 30/50
800/800 [==============================] - 1s 1ms/step - loss: 0.3529 - accuracy: 0.8537
Epoch 31/50
800/800 [==============================] - 1s 2ms/step - loss: 0.3558 - accuracy: 0.8559
Epoch 32/50
800/800 [==============================] - 1s 2ms/step - loss: 0.3559 - accuracy: 0.8515
Epoch 33/50
800/800 [==============================] - 1s 1ms/step - loss: 0.3575 - accuracy: 0.8518
Epoch 34/50
800/800 [==============================] - 1s 1ms/step - loss: 0.3598 - accuracy: 0.8499
Epoch 35/50
800/800 [==============================] - 1s 2ms/step - loss: 0.3562 - accuracy: 0.8516
Epoch 36/50
800/800 [==============================] - 1s 2ms/step - loss: 0.3589 - accuracy: 0.8519
Epoch 37/50
800/800 [==============================] - 1s 1ms/step - loss: 0.3518 - accuracy: 0.8544
Epoch 38/50
800/800 [==============================] - 1s 2ms/step - loss: 0.3589 - accuracy: 0.8489
Epoch 39/50
800/800 [==============================] - 1s 2ms/step - loss: 0.3555 - accuracy: 0.8549
Epoch 40/50
800/800 [==============================] - 1s 2ms/step - loss: 0.3537 - accuracy: 0.8539
Epoch 41/50
800/800 [==============================] - 1s 2ms/step - loss: 0.3545 - accuracy: 0.8526
Epoch 42/50
800/800 [==============================] - 1s 2ms/step - loss: 0.3561 - accuracy: 0.8514
Epoch 43/50
800/800 [==============================] - 1s 2ms/step - loss: 0.3571 - accuracy: 0.8530
Epoch 44/50
800/800 [==============================] - 1s 2ms/step - loss: 0.3559 - accuracy: 0.8539
Epoch 45/50
800/800 [==============================] - 1s 1ms/step - loss: 0.3562 - accuracy: 0.8535
Epoch 46/50
800/800 [==============================] - 1s 1ms/step - loss: 0.3565 - accuracy: 0.8524
Epoch 47/50
800/800 [==============================] - 1s 1ms/step - loss: 0.3547 - accuracy: 0.8505
Epoch 48/50
800/800 [==============================] - 1s 2ms/step - loss: 0.3548 - accuracy: 0.8521
Epoch 49/50
800/800 [==============================] - 1s 2ms/step - loss: 0.3558 - accuracy: 0.8519
Epoch 50/50
800/800 [==============================] - 1s 1ms/step - loss: 0.3560 - accuracy: 0.8516

In [180]:
test_loss, test_acc = model.evaluate(X_test, y_test)
print(test_loss,' ',test_acc)

63/63 [==============================] - 0s 2ms/step - loss: 0.3412 - accuracy: 0.8645
0.3412335515022278   0.8644999861717224

In [181]:
import pickle

pickle.dump(df,open('df.pkl','wb'))
pickle.dump(model,open('model.pkl','wb'))

INFO:tensorflow:Assets written to: ram://a2613a11-73ab-4fc6-821e-f2cf45f37453/assets

In [183]:
model.save('my_model.h5')